####################################
#               Core               #
####################################

# App
APP_NAME=app
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8080
ALLOWED_REDIRECT_ORIGINS=http://localhost:4200
APP_PORT=8080
FORWARD_DB_PORT=5433

# Database
DB_CONNECTION=pgsql
DB_HOST=db
DB_READ_HOST=
DB_PORT=5432
DB_DATABASE=app
DB_USERNAME=app
DB_PASSWORD=password
DB_SSLMODE=prefer

# Logging
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# Queueing
QUEUE_DRIVER=sync

# Caching
CACHE_STORE=database

# Sessions
SESSION_DRIVER=database
SESSION_LIFETIME=120

# Filesystem
FILESYSTEM_DISK=local

# Broadcasting
BROADCAST_CONNECTION=log

# Mail
MAIL_MAILER=log
MAIL_FROM_ADDRESS="hello@example.com"

# CORS
CORS_SUPPORTS_CREDENTIALS=

# Seeding
ADMIN_EMAIL=admin@example.com

####################################################
#               Third-party Services               #
####################################################

# SMTP
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null

# Redis
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-central-1

# S3
AWS_BUCKET=
AWS_URL=
AWS_ENDPOINT=
AWS_USE_PATH_STYLE_ENDPOINT=false

# CloudWatch
CLOUDWATCH_LOG_GROUP=
CLOUDWATCH_BATCH_SIZE="1"

# SQS
SQS_PREFIX=
SQS_QUEUE=
SQS_QUEUE_HIGH=
SQS_QUEUE_LOW=
SQS_QUEUE_DEFAULT_ORDERED=
SQS_SUFFIX=

# DynamoDB
DYNAMODB_CACHE_TABLE=
DYNAMODB_ENDPOINT=
